@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #000000;
  --primary-foreground: #ffffff;
  --secondary: #f3f4f6;
  --secondary-foreground: #1f2937;
  --muted: #f9fafb;
  --muted-foreground: #6b7280;
  --accent: #f3f4f6;
  --accent-foreground: #1f2937;
  --border: #e5e7eb;
  --input: #ffffff;
  --ring: #000000;
  --success: #10b981;
  --warning: #f59e0b;
  --destructive: #ef4444;
}

